body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: inherit;
    max-height: inherit;
    min-width: inherit;
    max-width: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(190, 22, 22, 0.596);
}

.sketch-pad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    max-height: 600px;
    min-width: 600px;
    max-width: 600px;
    background-color: #be1616;
    padding: 75px 50px 50px;
    border-radius: 5%;
    gap: 15px;
}

.buttons-container {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 12%;
    gap: 60px;

}
.button {
    margin: 0;
    padding: 0;
    width: 65px;
    height: 40px;
    border-radius: 45%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.color,
.button.rainbow {
    height: 17px;
    border-radius: 15%;
}

.slider {
  -webkit-appearance: none;  
}

.slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 8px;
    background: #d8d8d8;
    border-style: none;
    border-radius: 25px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 22px;
    border-radius: 40%;
    border-style: solid;
    border-color: #a81a1a;
    background: #be1616;
    margin-top: -4px;
}

.slider:focus {
    outline: none;
}

.slider-text {
    color: white;
    font-size: 18px;
}

.slider-container {
    width: 25%;
    border-style: solid;
    border-color: #a81a1a;
    border-width: 3px;
}

.rgb {
    margin: 0;
    padding: 0;
    width: 65px;
    height: 20px;
}