body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: inherit;
    max-height: inherit;
    min-width: inherit;
    max-width: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(190, 22, 22, 0.596);
}

.sketch-pad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    max-height: 600px;
    min-width: 600px;
    max-width: 600px;
    background-color: rgb(190, 22, 22);
    padding: 75px 50px 50px;
    border-radius: 5%;
    gap: 15px;
}

.buttons-container {
    display: flex;
    flex: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.button {
    width: 65px;
    height: 34px;
    border-radius: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button.color,
.button.rainbow {
    height: 17px;
    border-radius: 15%;
}